    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        font-size: 20px;
    }
    /*  #ec3e24 */
    
    header {
        padding: 8px 24px 8px 24px;
        width: 70%;
        height: 64px;
        margin-left: 15%;
        display: flex;
        border: 2px solid black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        vertical-align: middle;
    }
    
    .header-block {
        display: flex;
        width: 35%;
        vertical-align: middle;
    }
    
    .header-block:nth-child(2) {
        justify-content: center;
        margin-left: 60px;
        width: 100%;
    }
    
    .link-header {
        vertical-align: middle;
        text-decoration: none;
        color: black;
        margin: 5px 0 10px 20px;
        border-bottom: none;
        transition: all 0.3s ease;
    }
    
    .link-header:nth-last-child(2) {
        padding: 0 15px 0 15px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    .link-header:hover {
        margin: 5px 0 5px 20px;
        border-bottom: 4px solid #ec3e24;
    }
    
    .link-header>p>span {
        font-size: 30px;
        color: black;
        font-weight: 600;
        border: none;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: -250px;
        height: 1000px;
    }
    
    .section-info-red {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 400px;
        background-color: #ec3e24;
        padding: 10px 15% 10px 15%;
    }
    
    .txt-info-red {
        width: 60%;
        text-align: right;
        padding: 15px;
        color: white;
    }
    
    .txt-info-red>p>span {
        color: white;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 5px;
    }
    
    .txt-info-red>p:nth-child(2) {
        color: white;
        text-align: left;
    }
    
    .img-info-red {
        padding-top: 50px;
        width: 40%;
    }
    
    ul {
        direction: rtl;
        float: right;
    }
    
    li {
        padding: 10px;
    }